<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="151.3.240" targetFramework="net462" />
  <package id="CefSharp.OffScreen" version="151.3.240" targetFramework="net462" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="151.3.24" targetFramework="net462" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="151.3.24" targetFramework="net462" />
</packages>