<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="110.0.30" targetFramework="net452" />
  <package id="cef.redist.x86" version="110.0.30" targetFramework="net452" />
  <package id="CefSharp.Common" version="110.0.300" targetFramework="net452" />
  <package id="CefSharp.OffScreen" version="110.0.300" targetFramework="net452" />
</packages>