<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="87.1.12" targetFramework="net452" />
  <package id="cef.redist.x86" version="87.1.12" targetFramework="net452" />
  <package id="CefSharp.Common" version="87.1.12-CI3836" targetFramework="net452" />
  <package id="CefSharp.OffScreen" version="87.1.12-CI3836" targetFramework="net452" />
</packages>