<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net462" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net462" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net462" />
  <package id="CefSharp.Wpf" version="69.0.0" targetFramework="net462" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net462" />
</packages>