<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Variables.wxi?>
	<Product 
		Id="*" 
		Name="CefSharp.MinimalExample.Wpf.Setup" 
		Language="1033" 
		Version="1.0.1.0"
		Manufacturer="Test"
		UpgradeCode="77DD3BF4-8E7A-4275-BF91-1B46CE7E6F9B">
		
		<Package 
			InstallerVersion="405"
			Compressed="yes"
			InstallScope="perMachine"
			Description="CefSharp.MinimalExample Test" />

		<MajorUpgrade 
			AllowSameVersionUpgrades="yes"
			DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		
		<Property Id="REINSTALLMODE" Value="amus"/>

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Property Id="WIXUI_IMSTALLFOLDER" Value="INSTALLFOLDER"/>

		<UI>
			<UIRef Id="WixUI_Minimal"/>
			<UIRef Id="WixUI_ErrorProgressText"/>
		</UI>
		
		<util:CloseApplication Id="CloseMinimalExampleExe" Target="$(var.Executable)" Timeout="15" Sequence="1" EndSessionMessage="yes" PromptToContinue="no" RebootPrompt="no" />

		<Feature 
			Id="ProductFeature"
			Title="CefSharp.MinimalExample.Wpf.Setup"
			Level="1"
			Absent="disallow"
			InstallDefault="local"
			AllowAdvertise="no"
			ConfigurableDirectory="INSTALLFOLDER"
			>
			<ComponentGroupRef Id="AppComponents" />
			<ComponentRef Id="MainExecutable" />
		</Feature>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="CefSharp.MinimalExample.Wpf.Setup" />
			</Directory>
		</Directory>
		
		<InstallExecuteSequence>
			<Custom Action="WixCloseApplications" Before="CostFinalize"/>
		</InstallExecuteSequence>
	</Product>

	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="MainExecutable" Guid="C74254EA-FFE9-4401-AEE8-4A4A91A114D1" Win64="yes">
				<File Id="EXAMPLEEXE" Name="$(var.Executable)" Source="$(var.SOURCE)\$(var.Executable)" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
