<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="107.1.9" targetFramework="net452" />
  <package id="cef.redist.x86" version="107.1.9" targetFramework="net452" />
  <package id="CefSharp.Common" version="107.1.90" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="107.1.90" targetFramework="net452" />
</packages>