<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="113.3.5" targetFramework="net452" />
  <package id="cef.redist.x86" version="113.3.5" targetFramework="net452" />
  <package id="CefSharp.Common" version="113.3.50" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="113.3.50" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
</packages>