<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="116.0.23" targetFramework="net462" />
  <package id="cef.redist.x86" version="116.0.23" targetFramework="net462" />
  <package id="CefSharp.Common" version="116.0.230" targetFramework="net462" />
  <package id="CefSharp.Wpf" version="116.0.230" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
</packages>