<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="136.1.40" targetFramework="net462" />
  <package id="CefSharp.Wpf" version="136.1.40" targetFramework="net462" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="136.1.4" targetFramework="net462" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="136.1.4" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net462" />
</packages>